/* Base Styles (Desktop) */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  font-family: var(--font-primary);
  font-weight: 500;
}

.logo img {
  cursor: pointer;
  margin-left: 1rem;
  height: 3rem;
}

.nav ul {
  display: flex;
  gap: 2rem;
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a {
  text-decoration: none;
  color: var(--grey-dark);
}

.menu-icon {
  display: none;
  width: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.btn-box {
  display: flex;
  gap: 1rem;
}

.btn-box .btn {
  border: 1px solid var(--dark);
  font: inherit;
  color: var(--light);
  cursor: pointer;
}

.btn-box .user {
  padding: 0.55rem 2.5rem;
  background-color: var(--orange);
}

.btn-box .login {
  padding: 0.55rem 2.5rem;
  background-color: var(--teal);
  margin-right: 1rem;
}


@media (max-width: 800px) {
  .menu-icon {
    display: block;
  }

  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    width: 30%;
    background-color: var(--light);
    text-align: center;
    padding: 1rem 0;
    display: none;
    flex-direction: column;
    gap: 1.2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .nav.active {
    display: flex;
    animation: slideDown 0.3s ease forwards;
  }

  @keyframes slideDown {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .header .btn-box {
    display: none; 
  }
}
