.container {
  background: url(/src/assets/background.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  max-width: 1600px;
  margin: auto;
  border: 1px dotted var(--teal);
}
