.container {
  background: url(/src/assets/background.png) no-repeat;
  background-size: cover;
  background-position: start;
  min-height: 100vh;
}

.wrapper {
  max-width: 1600px;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}